body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Crimson Text', serif;
}

h1, h3, h2 {
  text-align: left;
  margin-left: 20px;
}

h1 {
  margin-bottom: 20px;
}

.left-align {
  position: absolute;
  left: 20px;
  top: 60px;
  width: 300px; /* Increased width */
}

.center-align {
  text-align: center;
  margin: 0 auto;
  padding-left: 320px; /* Adjusted to ensure no overlap */
}

label {
  display: block;
  margin-bottom: 10px;
}

select, input {
  display: block;
  width: 150px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 14px;
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #333;
  border-radius: 3px;
}

pre {
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 5px;
}

#plot {
  background-color: #1e1e1e;
  border-radius: 5px;
}

ul {
  list-style-type: disc;
  padding-left: 0; /* Zero left padding */
  margin-left: 0; /* Zero left margin */
  line-height: 1.5em;
}

p h2 {
  margin-top: 0;
}